@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/perpetua-titling-mt');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --fs-s: 14px;
    --fs-xs: 16px;
    --fs-sm: 18px;
    --fs-md: 24px;
    --fs-lg: 36px;
    --fs-xl: 72px;
    --fs-2xl: 80px;
    --fs-3xl: 157px;
    /* ============ font color============= */
    --fc-white: #FFFFFF;
    --fc-yellow: #FFD600;
    --fc-black: #000000;
    --fc-red: #FF1300;
    --fc-green: #00A106;
    --fc-darkred: #FF0000;
    --fc-grey: #70675F;
}

/* =============================== color ========================================= */
.color-white {
    color: var(--fc-white);
}

.color-yellow {
    color: var(--fc-yellow);
}

.color-black {
    color: var(--fc-black);
}

.color-red {
    color: var(--fc-red);
}

.color-green {
    color: var(--fc-green);
}

.color-darkred {
    color: var(--fc-darkred);
}

.color-grey {
    color: var(--fc-grey);
}

/* ==================== font-size================================== */
.text-14 {
    font-size: var(--fs-s);
}

.text-16 {
    font-size: var(--fs-xs);
}

.text-18 {
    font-size: var(--fs-sm);
}

.text-24 {
    font-size: var(--fs-md) !important;
}

.text-36 {
    font-size: var(--fs-md);
}

.text-72 {
    font-size: var(--fs-lg);
}

.text-80 {
    font-size: var(--fs-lg);
}

.text-157 {
    font-size: var(--fs-xl);
}




/* ================ line height ============================== */
.lh-22 {
    line-height: 22px;
}

.lh-19 {
    line-height: 19px;
}

.lh-29 {
    line-height: 29px;
}

.lh-188 {
    line-height: 88px;
}

.lh-101 {
    line-height: 60px;
}

.lh-40 {
    line-height: 40px;
}

.lh-25 {
    line-height: 25px;
}

.lh-27 {
    line-height: 27px;
}

.lh-33 {
    line-height: 33px;
}

.lh-24 {
    line-height: 24px;
}

.lh-49 {
    line-height: 49px;
}

.lh-83 {
    line-height: 40px;
}

/* =================== font weight ======================= */
.fw-normal {
    font-weight: 400;
}

.fw-semibold {
    font-weight: 600;
}

.fw-bold {
    font-weight: 900;
}

.fw-light {
    font-weight: 300;
}

/* ================ font family========================= */
.ff-noto {
    font-family: 'Noto Serif', sans-serif;
}

@font-face {
    font-family: "modernofbcomp";
    src: url(../font/modernofbcomp-semibold-maisfontes.c0b3/modernofbcomp-semibold.otf);
}

.ff-mono {
    font-family: 'modernofbcomp', sans-serif;
}

.ff-perpetua {
    font-family: 'Perpetua Titling MT', sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-clr-black {
    background-color: var(--fc-black);
}

.s-box {
    border: 1px solid var(--fc-yellow);
    max-width: 56px;
    border-radius: 5px;
    padding: 3px 4px;
}

.s-box-2 {
    border: 1px solid var(--fc-red);
    max-width: 56px;
    border-radius: 5px;
    padding: 3px 4px;
}

.gap-62 {
    gap: 62px !important;
}


/* .marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
}

.marquee .content {
    display: inline-block;
    padding-left: 10%;
    animation: marquee 15s linear infinite;
    
} */
.max-w-132{
    max-width: 132px;
}
.w-100{
    width: 100% !important;
}

 .marquee2 span {
    animation-delay: 2.5s;
  }

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.bg-clr {
    background: #F7F2F3;
}

.bg-img {
    background-image: url(/assets/images/png/bg-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.my-container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}
.nav-btn:hover{
    color: var(--fc-yellow);
    background: var(--fc-black);
    border: 2px solid var(--fc-yellow);
    transition: aal 200ms linear !important;
}
.nav-svg {
    transition: all 200ms linear;
}

.nav-svg:hover {
    transform: translatey(-8px);
}
.max-w-80{
    max-width: 80px;
}
.bottom-line::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    background: var(--fc-black);
    left: 23px;
    right: 0px;
    bottom: 0;
    transition: all 200ms linear;
}

.bottom-line:hover::after{
   width: 60%;
}

.gap-18 {
    gap: 18px;
}

.gap-170 {
    gap: 170px;
}

.btnn {
    border: 2px solid black;
    padding: 12px 16px;
    background: var(--fc-yellow);
}

.py-15_8 {
    padding-top: 8px;
    padding-bottom: 15px;
}

.border_bottom {
    border-bottom: 2px solid var(--fc-black) !important;
}

.pt-68 {
    padding-top: 68px;
}
.z_index{
    z-index: -1;
}
ul {
    padding-left: 0 !important;
}

/* ============================================== breaking news ================================================ */
.max-w-1140 {
    max-width: 1140px;
}

.py-67 {
    padding-top: 64px;
    padding-bottom: 67px;
}

/* ========================================== march 1 ======================================================= */


.underline::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 1px;
    background: var(--fc-black);
    left: 0;
    bottom: 0;
    transition: all 200ms linear;
    /* margin-bottom: 40px; */
}

/* .border-left {
    border-left: 2px solid var(--fc-black);
}

.border-right {
    border-right: 2px solid var(--fc-black);
} */

.py-lg-86 {
    padding-top: 86px;
    padding-bottom: 86px;
}



/* ========================================= latest tweets ====================================== */

.gap-20 {
    gap: 20px;
}

/* ======================================= latest slider ========================================== */
.gap-11 {
    gap: 11px;
}

.max-w-327 {
    max-width: 327px;
}

.py-15 {
    padding-top: 13px;
    padding-bottom: 15px;
}

.py-48 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.max-w-327 {
    max-width: 327px;
}

.px-26 {
    padding-left: 26px;
    padding-right: 26px;
}

.max-w-283 {
    max-width: 283px;
}
.max-w-83{
    max-width: 83px;
}

.underline-2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--fc-black);
    left: 0;
    bottom: 0;
    transition: all 200ms linear;
    /* margin-bottom: 40px; */
}

.max-w-307 {
    max-width: 307px;
}

.border_right {
    border-right: 1px solid var(--fc-black);
}

.border_left {
    border-left: 1px solid var(--fc-black);
}

/* ================================= minting================================= */

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}



.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.right-border {
    border-right: 2px solid var(--fc-black)
}

.left-border {
    border-left: 2px solid var(--fc-black);
}

.gap-48 {
    gap: 48px;
}

.outer-border {
    border: 2px solid var(--fc-black);
}

.max-w-238 {
    max-width: 238px;
}

.gap-24 {
    gap: 24px;
}

.px-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.mint-btn {
    border: 2px solid var(--fc-black);
    background: var(--fc-yellow);
    padding: 12px 16px;

}

.mt-35 {
    margin-top: 35px;
}

.btn-hover:hover {
    background: var(--fc-black);
    border: 2px solid var(--fc-yellow);
    color: var(--fc-yellow);
    transition: all 300ms linear;
}

.pt-36 {
    padding-top: 36px;
}



/* ======================================== section ============================================ */
.gap-50 {
    gap: 50px;
}

.py-21 {
    padding-top: 21px;
    padding-bottom: 21px;
}

.text-shadow {
    text-shadow: 5px 5px 10px #00000040;
}

/* ============================================ team-slider ======================================== */
.max-w-407 {
    max-width: 407px;
}

.max-w-570 {
    max-width: 57 0px;
}

.padding-card-1 {
    padding-top: 40px;
    padding-bottom: 67.5px;
    padding-left: 37px;
    padding-right: 37px;
}

.padding-card-2 {
    padding-top: 40px;
    padding-bottom: 24px;
    padding-left: 38px;
    padding-right: 38px;
}

.h-326 {
    min-height: 326px;
    height: 100%;
}

.slider-bg-img {
    background-image: url(../images/png/slider-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slick-next:before {
    content: ''!important;
}

/* ======================================== roadmap ============================================= */
.max-w-495 {
    max-width: 495px;
}

.py-99 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.pb-70{
    padding-bottom: 70px !important;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--fc-black);
    top: 79px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.t-container {
    padding: 10px 55px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.t-container::after {
    content: '';
    position: absolute;
    width: 59px;
    height: 59px;
    right: -30px;
    background-image: url(../images/png/timeline-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 6px;
    border-radius: 50%;
    z-index: 1;
}

.right::after {
    left: -30px;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

.arrow {
    border: solid var(--fc-black);
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(44deg);
    width: 20px;
    height: 20px;
    left: 49%;
    bottom: 0;
    position: absolute;
}

/* The actual content */
.content {
    position: relative;
}

/* =========================================== FAQ accordion ================================================== */
.accordion-button:not(.collapsed) {
    color: var(--fc-black) !important;
    background-color: transparent !important;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion {
    --bs-accordion-border-radius: 0 !important;
    --bs-accordion-bg: none !important;
    --bs-accordion-border-color: var(--fc-black) !important;
    --bs-accordion-border-width: 0 !important;
}

.accordion-item:first-of-type {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
/* .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
} */

.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "+" !important;
    color: var(--fc-black);
    background-image: none !important;
    height: 33px !important;
    width: 14px !important;
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button:not(.collapsed)::after {
    content: "-" !important;
    background-image: none;
    transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-button:focus {
    /* z-index: 3; */
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}
.topBtn {
    width: 50px;
    height: 50px;
    background: var(--fc-black);
    border-radius: 50%;
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 5%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms linear;
    z-index: 3;
}

.topBtn.show {
    opacity: 1;
    visibility: visible;
}

.topBtn:hover {
    box-shadow: 0px 3px 15px 3px var(--fc-white);
}
.left_border{
    border-left: 2px solid var(--fc-black);
}
.right_border{
    border-right:2px solid  var(--fc-black);
}
.max-w_475{
    max-width: 475px;
}













/* Media queries - Responsive timeline  */
@media screen and (max-width: 768px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .t-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .t-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 3px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }

   
}

@media (max-width:992px) {

    .overFlowHidden {
        overflow: hidden !important;
    }

    ul.menulist.show {
        right: 0;
    }
    .menuIcon.show>span{
        top: -80px !important;
        position: relative !important;
    }

    .menuIcon {
        width: 30px;
        height: 30px;
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: space-between; */
        position: relative;
        z-index: 5;
        transition: all 300ms linear;
        /* padding-top: 4px;
        padding-bottom: 4px; */
    }

    .menuIcon>span {
        width: 100%;
        height: 4px;
        background: var(--fc-black);
        position: relative;
        z-index: 2;
        transition: all 300ms linear;
    }

    .menulist {
        flex-direction: column;
        background-color: #F7F2F3;
        height: 100% !important;
        width: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        align-items: center;
        justify-content: center;
        z-index: 5;
        transition: all 300ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(59deg) translateY(25px);
        transition: all 300ms linear;
        position: relative;
        top: -7px;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 300ms;
    }

    .cross span:nth-child(3) {
        transform: rotate(-60deg) translateY(-26px);
        transition: all 300ms linear;
        position: relative;
        top: 0;
    }

    .justify-center {
        justify-content: center;
    }

    .align-center {
        align-items: center;
    }

    .text_center {
        text-align: center;
    }

    .flex_wrap {
        flex-wrap: wrap;
    }
}

@media (min-width:576px) {
    .text-157 {
        font-size: var(--fs-xl);
    }

    .lh-188 {
        line-height: 188px;
    }

    .gap-sm-55 {
        gap: 55px;
    }

    .lh-83 {
        line-height: 83.2px;
    }
    /* .arrow {
        border: solid var(--fc-black);
        border-width: 0 2px 2px 0;
        display: inline-block;
        transform: rotate(44deg);
        width: 20px;
        height: 20px;
        left: 5%;
        bottom: 0;
        position: absolute;
    } */


}

@media (min-width:768px) {
    .text-157 {
        font-size: var(--fs-2xl);
    }

    .text-72 {
        font-size: var(--fs-xl);
    }

    .lh-101 {
        line-height: 101px;
    }

    .text-80 {
        font-size: var(--fs-xl);
    }

    .text-36 {
        font-size: var(--fs-md);
    }

    .padding-card-1 {
        padding-top: 40px;
        padding-bottom: 67.5px;
        padding-left: 37px;
        padding-right: 37px;
    }

    .padding-card-2 {
        padding-top: 40px;
        padding-bottom: 45px;
        padding-left: 38px;
        padding-right: 38px;
    }

    /* .arrow {

        left: 48.5%;

    } */



}

@media (min-width:992px) {
    .py-lg-88 {
        padding-top: 88px;
        padding-bottom: 88px;
    }

    .text-157 {
        font-size: var(--fs-3xl);
    }

    .border-left {
        border-left: 2px solid var(--fc-black);
    }

    .border-right {
        border-right: 2px solid var(--fc-black);
    }

    .py-lg-44 {
        padding-top: 44px;
        padding-bottom: 47px;
    }

    .text-80 {
        font-size: var(--fs-2xl);
    }

    .py-lg-90 {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .gap-lg-116 {
        gap: 116px;
    }

    .py-lg-88 {
        padding-top: 88px;
        padding-bottom: 89px;
    }

    .text-36 {
        font-size: var(--fs-lg);
    }

    /* .arrow {
        border: solid var(--fc-black);
        border-width: 0 2px 2px 0;
        display: inline-block;
        transform: rotate(44deg);
        width: 20px;
        height: 20px;
        left: 49%;
        bottom: 0;
        position: absolute;
    } */
    .py-lg-32{
        padding-top: 32px;
        padding-bottom: 24px;
    }
    .max-w-438 {
        max-width: 438px;
    }
    .max-w-570 {
        max-width: 570px;
    }
    .max-w-475 {
        max-width: 475px !important;
    }
    .pl-25 {
        padding-left: 25px;
    }


}